.product-card{
width: 100px;
position: relative;
background-color: darkseagreen;

}

.product-menu{
top: 0;
left: 0;
background-color: darkviolet;
display: none;
justify-content: center;
align-items: center;
transition: .25s;
width: 30px;
}


#hov:hover .product-menu{
display: flex;
}


