h1 {
color: blue;
background-color:green; 
text-align:center;
}

h2 {
color: White;
background-color:green; 
text-align:center;
}

h3 {
color: Brown;
background-color:green; 
text-align:center;
}
h4 {
color: purple;
background-color:green; 
text-align:center;
}